<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events Management</title>
    <link rel="icon" href="images/logo.ico">
    <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
    <link rel="stylesheet" href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="images/logo.png" alt="" width="50" height="50" class="d-inline-block mr-3 ">
            <h2 class="d-inline-block"> Event Planner</h2>
        </a>
        <div class="mr-2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mt-3 mr-3">
                    <span id="user-name-text" class="text-light"></span>
                </li>
                <li class="nav-item active mr-2">
                   <span class="d-inline-block" id="email-text" tabindex="0" data-toggle="tooltip"
                         data-placement="bottom" title="Hi">
                   <a class="nav-link" href="#"><img id="profile-img" src=""></a>
                   </span>
                </li>
            </ul>
        </div>

    </div>

</nav>
<div>
    <div class="px-5 mt-5 mb-5">
        <div class="d-flex">
            <div id="calendar" class="main-container"></div>

            <div class="w-100 pl-5">
                <h3>Add an Event</h3>
                <div class="mt-3">
                    <form id="add-event-form">
                        <div class="form-container form-group">
                            <div>
                                <label for="summary">Summary </label>
                                <input id="summary" name="summary" class="form-control" type="text" required>
                            </div>
                            <div>
                                <label for="description">Description </label>
                                <input id="description" name="description" class="form-control" type="text" required>
                            </div>
                            <div>
                                <label for="start-date">Start Date </label>
                                <input id="start-date" name="startDate" class="form-control" type="date" required>
                            </div>
                            <div>
                                <label for="end-date">End Date </label>
                                <input id="end-date" name="endDate" class="form-control" type="date" required>
                            </div>
                            <div>
                                <label for="start-time">Start Time </label>
                                <input id="start-time" name="start-time" class="form-control" type="time" required>
                            </div>
                            <div>
                                <label for="end-time">End Time </label>
                                <input id="end-time" name="endTime" class="form-control" type="time" required>
                            </div>
                            <div>
                                <label for="files">Upload Banner image</label>
                                <input id="files" name="files" class="form-control" type="file" multiple>
                            </div>
                            <div>
                                <input id="submit-btn" class="btn btn-primary" type="submit" value="Add Event">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------BEGIN Scripts------------------------------------------------------->

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/calendar.js"></script>
<script>

    $("form").keyup(function () {
        window.localStorage.setItem("Summary", $("#summary").val())
        window.localStorage.setItem("Description", $("#description").val())
    });

    $("form").change(function () {
        window.localStorage.setItem("Start Date", $("#start-date").val())
        window.localStorage.setItem("End Date", $("#end-date").val())
        window.localStorage.setItem("Start Time", $("#start-time").val())
        window.localStorage.setItem("End Time", $("#end-time").val())
    });

    let calendar;
    /*
   *Get User Details through REST endpoint
   */
    let getUserDetails = () => {
        $.ajax({
            type: "GET",
            url: "http://localhost:8081/users-api/users",
            success: (result) => {
                let profilePicture = result.profilePicture;
                let userName = result.name;
                let email = result.email;
                $("#profile-img").attr({"src": profilePicture});
                $("#user-name-text").text('Hi, ' + userName);
                $("#email-text").attr('title', email)
                    .tooltip('_fixTitle')
                    .tooltip('show');
            }
        })
    }
    getUserDetails();
    /*
    *Get all calendar events through REST endpoint
    */
    let getAllEvents = () => {
        $.ajax({
            type: "GET",
            url: "http://localhost:8081/api/events",
            success: (result) => {
                let allEvents = result;
                if (allEvents.length > 0) {
                    let formattedEvents = [];
                    formattedEvents = allEvents.map((event) => {
                        return {
                            title: event.summary,
                            start: event.startDateTime,
                            end: event.endDateTime
                        }
                    });
                    calendar.removeAllEventSources();
                    calendar.addEventSource(formattedEvents);
                }
            }
        })
    }
    getAllEvents();
    /**
     * Render Calendar
     */
    $(()=> {
        let calendarEl = document.getElementById('calendar');
        let span = document.createElement("span");
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            eventClick: response => {

                let title = response.event.title;
                let startDate = response.event.startStr.split('T')[0]
                let startTime = response.event.startStr.split('T')[1].split('+')[0]
                let endDate = response.event.endStr.split('T')[0]
                let endTime = response.event.endStr.split('T')[1].split('+')[0]
                span.innerHTML =
                    '<p>Start Date: ' + startDate + '</p>' +
                    '<p>End Date: ' + endDate + '</p>' +
                    '<p>Start Time: ' + startTime + '</p>' +
                    '<p>End Time: ' + endTime + '</p>'
                swal({
                    title: title,
                    content: span,
                    icon: 'images/logo.png',
                });
            }
        });
        calendar.render();
    });

    let uploadFile = () => {
        var fd = new FormData();
        var files = $('#files')[0].files;
        fd.append('files', files[0]);

        $.ajax({
            url: 'http://localhost:8081/api/drive/upload-one',
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
        });
    }

    /*
    * Add an event to the calender
    * */
    $(()=> {
        $("#submit-btn").click((event) => {
            event.preventDefault()
            const addEventForm = $("#add-event-form")
            addEventForm.validate();
            if (addEventForm.valid()) {
                const summary = $("#summary").val()
                const description = $("#description").val()
                const startDate = $("#start-date").val()
                const endDate = $("#end-date").val()
                const startTime = $("#start-time").val()
                const endTime = $("#end-time").val()
                const data = {summary, description, startDate, endDate, startTime, endTime}
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "http://localhost:8081/api/events",
                    data: JSON.stringify(data),
                    success: (result) => {
                        uploadFile();
                        addEventForm.trigger("reset");
                        swal({
                            title: "Event added successfully!",
                            icon: 'images/logo.png',
                        });
                        getAllEvents();
                    }
                })
            }
        })
    })
    /**
     * Redirect to login page after an hour
     */
    let redirectToLoginAfterOneHour = ()=>{
        setTimeout(()=>{ window.location.replace("http://localhost:8081/login.html") }, 3600000);

    }
    redirectToLoginAfterOneHour();



</script>

<!--------------------------------------------END Scripts----------------------------------------------------------->

</body>
</html>