<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events Management</title>
    <!--    <link rel="stylesheet"-->
    <!--          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>-->
    <!--    <link rel="stylesheet"-->
    <!--          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>

<body>

<div>
    <div class="p-5">
        <div class="d-flex">
            <div id="calendar" class="main-container"></div>

            <div class="px-5">
                <h3>Add an Event</h3>
                <div class="mt-3">
                    <form>
                        <div class="form-container form-group">
                            <div>
                                <label for="summary">Summary </label>
                                <input id="summary" class="form-control" type="text" required>
                            </div>
                            <div>
                                <label for="description">Description </label>
                                <input id="description" class="form-control" type="text" required>
                            </div>
                            <div>
                                <label for="startDate">Start Date </label>
                                <input id="startDate" class="form-control" type="date" required>
                            </div>
                            <div>
                                <label for="endDate">End Date </label>
                                <input id="endDate" class="form-control" type="date" required>
                            </div>
                            <div>
                                <label for="startTime">Start Time </label>
                                <input id="startTime" class="form-control" type="time" required>
                            </div>
                            <div>
                                <label for="endTime">End Time </label>
                                <input id="endTime" class="form-control" type="time" required>
                            </div>
                            <div>
                                <input id="submit-btn" class="btn btn-primary" type="submit" value="Add Event">
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>


<!----------------------------------------------BEGIN Scripts------------------------------------------------------->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/calendar.js"></script>
<script>


    let calendar;
    /*
    *Get all calendar events through REST endpoint
    */
    let getAllEvents = () => {
        $.ajax({
            type: "GET",
            url: "http://localhost:8081/api/events",
            success: (result) => {
                let allEvents = result;
                if (allEvents.length > 0) {
                    let formattedEvents = [];
                    formattedEvents = allEvents.map((event) => {
                        return {
                            title: event.summary,
                            start: event.startDateTime,
                            end: event.endDateTime
                        }
                    });
                    calendar.addEventSource(formattedEvents);
                }
            }
        })
    }
    getAllEvents();
    /**
     * Render Calendar
     */
    document.addEventListener('DOMContentLoaded', function () {
        let calendarEl = document.getElementById('calendar');
        let span = document.createElement("span");
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            eventClick: response => {
                console.log(response);

                let title = response.event.title;
                let startDate = response.event.startStr.split('T')[0]
                let startTime = response.event.startStr.split('T')[1].split('+')[0]
                let endDate = response.event.endStr.split('T')[0]
                let endTime = response.event.endStr.split('T')[1].split('+')[0]
                span.innerHTML = '<ul>' + '<li>Start Date: ' + startDate + '</li>' +
                    '<li>End Date: ' + endDate + '</li>' +
                    '<li>Start Time: ' + startTime + '</li>' +
                    '<li>End Time: ' + endTime + '</li>' + '</ul>'
                swal({
                    title: title,
                    content: span,
                    icon: 'images/logo.jpg',
                });


            }

        });
        calendar.render();
    });

    $("#submit-btn").on("click", (event) => {
        event.preventDefault()
        const summary = $("#summary").val()
        const description = $("#description").val()
        const startDate = $("#startDate").val()
        const endDate = $("#endDate").val()
        const startTime = $("#startTime").val()
        const endTime = $("#endTime").val()

        const data = {
            summary,
            description,
            startDate,
            endDate,
            startTime,
            endTime
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "http://localhost:8081/api/events",
            data: data,
            success: (result) => {
                console.log(result);
                swal({
                    title: "Success",
                    content: "Event added successfully!",
                    icon: 'images/logo.jpg',
                });
            }
        })
    })

    // const addEvent = () => {
    //     const summary = $("#summary").val()
    //     const description = $("#description").val()
    //     const startDate = $("#startDate").val()
    //     const endDate = $("#endDate").val()
    //     const startTime = $("#startTime").val()
    //     const endTime = $("#endTime").val()
    //
    //     const data = {
    //         summary,
    //         description,
    //         startDate,
    //         endDate,
    //         startTime,
    //         endTime
    //     }
    //     console.log(data)
    //     $.ajax({
    //         type: "POST",
    //         url: "http://localhost:8081/api/events",
    //         data: data,
    //         success: (result) => {
    //             console.log(result);
    //             swal({
    //                 title: "Success",
    //                 content: "Event added successfully!",
    //                 icon: 'images/logo.jpg',
    //             });
    //         }
    //     })
    // }
</script>

<!--------------------------------------------END Scripts----------------------------------------------------------->

</body>
</html>