<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events Management</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>
<body>
<div class="main-container">


    <div id='calendar'></div>

</div>

<!----------------------------------------------BEGIN Scripts------------------------------------------------------->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/calendar.js"></script>
<script>


    let calendar;
    /*
    *Get all calendar events through REST endpoint
    */
    let getAllEvents = () => {
        $.ajax({
            type: "GET",
            url: "http://localhost:8081/api/events",
            success: (result) => {
                let allEvents = result;
                if (allEvents.length > 0) {
                    let formattedEvents = [];
                    formattedEvents = allEvents.map((event) => {
                        return {
                            title: event.summary,
                            start: event.startDateTime,
                            end: event.endDateTime
                        }
                    });
                    calendar.addEventSource(formattedEvents);
                }
            }
        })
    }
    getAllEvents();
    /**
     * Render Calendar
     */
    document.addEventListener('DOMContentLoaded', function () {
        let calendarEl = document.getElementById('calendar');
        let span = document.createElement("span");
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            eventClick: response => {
                console.log(response);

                let title = response.event.title;
                let startDate = response.event.startStr.split('T')[0]
                let startTime = response.event.startStr.split('T')[1].split('+')[0]
                let endDate = response.event.endStr.split('T')[0]
                let endTime = response.event.endStr.split('T')[1].split('+')[0]
                span.innerHTML = '<ul>' + '<li>Start Date: ' + startDate + '</li>' +
                    '<li>End Date: ' + endDate + '</li>' +
                    '<li>Start Time: ' + startTime + '</li>' +
                    '<li>End Time: ' + endTime + '</li>' + '</ul>'
                swal({
                    title: title,
                    content: span,
                    icon: 'images/logo.jpg',
                });


            }

        });
        calendar.render();
    });

</script>

<!--------------------------------------------END Scripts----------------------------------------------------------->

</body>
</html>