<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
<div >
    <a href="http://localhost:8081/oauth2/authorization/google"  class="btn btn-primary" role="button">Google Login</a>
</div>

<!-------------------------------------BEGIN Scripts------------------------------------------------------->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-------------------------------------END Scripts----------------------------------------------------------->
</body>
</html>